<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :birthday %>
      <%= f.date_select :birthday, { :start_year => 1990, :end_year => 2014, :order => [:month, :day, :year], :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select Year' } }, {:style => "width:30%"} %>

      <div class="btn-group" data-toggle="buttons-radio" >
		  <%= f.radio_button :gender, "Male", :id=>"first", :style=>"display:none;" %>
		  <label for="first" class="btn btn-primary">Male</label>
		
		  <%= f.radio_button :gender, "Female", :id=>"second", :style=>"display:none;" %>
		  <label for="second" class="btn btn-primary">Female</label>	
	  </div><br /><br />
		      
      <%= f.submit "Start Sailing", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>