<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.sites.any? %>
      <h3>sites (<%= @user.sites.count %>)</h3>
      <ol class="sites">
        <%= render @sites %>
      </ol>
      <%= will_paginate @sites %>
    <% end %>
  </div>
</div>