<li>
  <span class="content"><%= site.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(site.created_at) %> ago.
  </span>
  <% if current_user?(site.user) %>
    <%= link_to "delete", site, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: site.content %>
  <% end %>
</li>